<link rel="stylesheet" href="{$wa_url}wa-content/js/farbtastic/farbtastic.css" type="text/css" />
<script type="text/javascript" src="{$wa_url}wa-content/js/farbtastic/farbtastic.js"></script>

<style type="text/css">
    {include file="../../../css/forder.css" inline}
</style>

<style>
    #plugins-settings-form { min-width: 600px; padding: 0 30px 30px 0; }
    .s-colorpicker { display: none; margin: -110px 0 0 245px; position: absolute; }
    .f-order-form { border-color: rgba(244, 244, 244, 1); border-style: solid; border-width: 10px 50px; box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.3); float: right; left: 0; margin: 0 0 50px; position: relative; top: 0; }
    .tip-block { background: rgba(244, 244, 244, 1); border-color: rgba(244, 244, 244, 1); border-style: solid; border-width: 10px 20px; box-shadow: 1px -1px 5px rgba(0, 0, 0, 0.3); clear: right; float: right; margin: 0 0 25px; position: relative; width: 460px; }
    .tip-block h3 { font-size: 18px; text-align: center; }
    .tip-block h3 span { border-bottom: 1px dotted; cursor: pointer; }
    .tip-block p { display: none; font-size: 13px; margin: 0 0 10px; }
</style>

<script type="text/javascript">
    {include file="../../../js/forder.backend.settings.js"}
</script>

<script type="text/javascript">
    (function ($) {
        forderBackendSettings.initModule();
    })(jQuery);
</script>

<h1>[`Fast order in 1 click`]</h1>
<div class="fields form">
    <form action="?module=plugins&id=forder&action=save" method="post" id="plugins-settings-form" enctype="multipart/form-data" target="plugins-settings-iframe">
        {$wa->csrf()}
        {foreach $settings_controls as $name => $control}
        <div class="field">
            {$control}
        </div>
        {/foreach}

        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="{_w('Save')}">
                <span id="plugins-settings-form-status" style="display:none"><!-- message placeholder --></span>
            </div>
        </div>

    </form>
    <iframe style="display:none" name="plugins-settings-iframe" id="plugins-settings-iframe"></iframe>
</div>