{if isset($forder_settings.id_in_html) && $forder_settings.id_in_html}
	
	<style type="text/css">
		{include file="../css/forder.css" inline}
	</style>

	{if isset($forder_settings.phone_masked_input) && strlen($forder_settings.phone_masked_input) > 0}
	<script type="text/javascript" src="{$wa_url}wa-apps/shop/plugins/forder/js/jquery.maskedinput.min.js"></script>
	{/if}

	<script type="text/javascript">
		{include file="../js/forder.frontend.js"}
	</script>

	<script type="text/javascript">
		(function ($) {
		    forderFrontend.initModule();
		})(jQuery);
	</script>
		
{/if}